@font-face {
  font-family: 'Mona Sans';
  src: url('~/assets/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 100 900; /* Adjust according to the font weight your font supports */
  font-style: normal;
}

@font-face {
  font-family: 'Hubot-Sans';
  src: url('~/assets/fonts/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 100 900; /* Adjust according to the font weight your font supports */
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}